################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs
/template/.vs
/template/Clean.Core/bin/Debug/net5.0
/template/Clean.Core/obj
/template/Clean.Models/bin/Debug/net5.0
/template/Clean.Models/obj
/template/Clean/bin/Debug
/template/Clean/obj
/template/Clean.Core/bin/Debug
/template/Clean.Models/bin/Debug
/template/.idea
/template/Clean.Site/Smidge
/template/Clean/bin
/template/Clean.Core/bin
/template/Clean.Models/bin
/template/Clean.Headless/bin
/template/Clean.Headless/obj
.artifacts/
template/Clean.Blog/wwwroot/media/created-packages/Clean/package.zip
