<?xml version="1.0" encoding="utf-8"?>
<Element Key="b219dbf3-40a4-490d-9586-08f64931f0cb" Alias="Community" Level="2">
  <Info>
    <Parent Key="b4fc52e0-7507-4d5e-afc0-c70cfd8effab">Categories</Parent>
    <Path>/Categories/Community</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryElement</ContentType>
    <CreateDate>2026-06-25T07:25:36</CreateDate>
    <NodeName Default="Community" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties />
</Element>