<?xml version="1.0" encoding="utf-8"?>
<Element Key="0113c992-cf26-46b3-8e7a-8bfa0c30e9a7" Alias="Meetups" Level="2">
  <Info>
    <Parent Key="b4fc52e0-7507-4d5e-afc0-c70cfd8effab">Categories</Parent>
    <Path>/Categories/Meetups</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryElement</ContentType>
    <CreateDate>2026-06-25T07:25:54</CreateDate>
    <NodeName Default="Meetups" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties />
</Element>