<?xml version="1.0" encoding="utf-8"?>
<Element Key="750a1af4-6d79-4eeb-a518-6ccf757a1338" Alias="Podcasts" Level="2">
  <Info>
    <Parent Key="b4fc52e0-7507-4d5e-afc0-c70cfd8effab">Categories</Parent>
    <Path>/Categories/Podcasts</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryElement</ContentType>
    <CreateDate>2026-06-25T07:26:17</CreateDate>
    <NodeName Default="Podcasts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties />
</Element>