<?xml version="1.0" encoding="utf-8"?>
<Element Key="d6e0a033-59d6-4b35-835f-0a3657360616" Alias="Resources" Level="2">
  <Info>
    <Parent Key="b4fc52e0-7507-4d5e-afc0-c70cfd8effab">Categories</Parent>
    <Path>/Categories/Resources</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryElement</ContentType>
    <CreateDate>2026-06-25T07:26:24</CreateDate>
    <NodeName Default="Resources" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties />
</Element>