<?xml version="1.0" encoding="utf-8"?>
<Element Key="7a372c1c-b1ec-47af-9f5a-634fd93ab428" Alias="Umbraco" Level="2">
  <Info>
    <Parent Key="b4fc52e0-7507-4d5e-afc0-c70cfd8effab">Categories</Parent>
    <Path>/Categories/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryElement</ContentType>
    <CreateDate>2026-06-25T07:26:31</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties />
</Element>