<?xml version="1.0" encoding="utf-8"?>
<Element Key="50668da0-99ad-4d66-8381-19abc9155b61" Alias="Videos" Level="2">
  <Info>
    <Parent Key="b4fc52e0-7507-4d5e-afc0-c70cfd8effab">Categories</Parent>
    <Path>/Categories/Videos</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryElement</ContentType>
    <CreateDate>2026-06-25T07:26:38</CreateDate>
    <NodeName Default="Videos" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties />
</Element>