<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fccec1e1-0057-48ca-b9bf-184e00758a58" Alias="[Toggle] Default True" Level="1">
  <Info>
    <Name>[Toggle] Default True</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>