<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="89685ee8-6c1f-469f-82a6-612f2b33ec30" Alias="categoryElement" Level="3">
  <Info>
    <Name>Category Element</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A pickable category</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Library+Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
    <AllowedInLibrary>true</AllowedInLibrary>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>