<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3607dd00-80f5-42ec-91f1-cb83df165177" Alias="List View - Article List" Level="1">
  <Info>
    <Name>List View - Article List</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "icon": "icon-layout-list",
  "includeProperties": [
    {
      "alias": "articleDate",
      "header": "Date",
      "isSystem": 0,
      "nameTemplate": "\u003Cuui-icon name=\u0022icon-calendar-alt\u0022\u003E\u003C/uui-icon\u003E {umbValue: value | fallback:[Unpublished]}"
    }
  ],
  "layouts": [
    {
      "name": "Table",
      "icon": "icon-list",
      "collectionView": "Umb.CollectionView.Document.Table"
    }
  ],
  "orderBy": "articleDate",
  "orderDirection": "desc",
  "pageSize": 10,
  "tabName": "Articles"
}]]></Config>
</DataType>