<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e0ffcaf-897c-4aba-8163-9132de3174d0" Alias="[ElementPicker] Categories" Level="1">
  <Info>
    <Name>[ElementPicker] Categories</Name>
    <EditorAlias>Umbraco.ElementPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ElementPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "startNodeId": [
    "b4fc52e0-7507-4d5e-afc0-c70cfd8effab"
  ]
}]]></Config>
</DataType>