<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4228ff0-955d-4e1e-9fa6-fd19242c9eca" Alias="paul-seal.jpg" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/paulSealjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-25T10:01:48</CreateDate>
    <NodeName Default="paul-seal.jpg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/p3chiuru/paul-seal.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>